body {
	font-family: sans-serif;
}

.About {
	padding-bottom: 50px;
}
.jumbotron {
	background-color: #f1f2f2;
	background-image: url(img/banner-putih.jpg);
	background-size: cover;
}

.Works {
	background-color: #f1f2f2;
	background-image: url(img/banner-putih.jpg);
	background-size: cover;
}

.contact {
	padding-top: 23px;

}
.container .card {
	transition: transform 2s;
}